<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".cer" mimeType="application/x-x509-ca-cert" />
            <mimeMap fileExtension=".ps1" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
            <mimeMap fileExtension=".ftl" mimeType="application/x-freemarker" />
        </staticContent>
    </system.webServer>
</configuration>
